.wrapper {
	margin: auto;
	max-width: 1400px;
	padding-top: 4rem;
}

.result {
	background: white;
	box-shadow: 0 0px 20px #DDD;
	margin: 0 0 2rem 0;
	padding: 1rem;
}

.result em {
    background: yellow;
}

.header {
    display: grid;
    grid-template-columns: 1fr fit-content(0);
    grid-gap: 1rem;
}

.header h3 {
    margin-top: 0;
}

.header div {
    color: gray;
    white-space: nowrap;
}

.description {
    margin-bottom: 1rem;
}

.showjson pre {
    background: rgba(0, 0, 255, .05);
    border: 1px solid darkblue;
    border-radius: .25rem;
    overflow: hidden;
    padding: 1rem;
}

.showjson button,
.description button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0;
}