.wrapper {
	background: white;
	box-shadow: 0 4px 10px #DDD;
	border: 1px solid #DDD;
	margin: 0 0 2rem 0;
	padding: 1rem;
}

.wrapper h3 {
	margin-top: 0;
}

.wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.titles li {
	font-weight: bold;
	margin-bottom: 1rem;
}

.titles li em,
.descriptions li em {
	background-color: yellow;
}

.descriptions li {
	font-size: 0.8rem;
	margin-bottom: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.subjects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 6px;
	margin-top: 10px;
}